<div>
  <div class="navbar navbar-expand-sm navbar-light navbar-show">
    <%= link_to "Rhum Pom Pom Pom", root_path, class: "nav-item" %>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "nav-item" %>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo.key, crop: :fill %>)">
  <div class="container">
    <h1><strong><%= @cocktail.name %></strong></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-7">
      <h2>Description</h2>
      <p><%= @cocktail.description %></p>


      <%#= link_to 'destroy', cocktail_path(@cocktail), method: :delete  %>
      <%= link_to '', cocktail_path(@cocktail), class: "fas fa-trash-alt", method: :delete  %>
    </div>

    <div class="col-1">
    </div>
    <div class="col-4">
      <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li><strong><%= dose.ingredient.name %></strong> <%= dose.description %> <%= link_to '', dose_path(dose), class: "fas fa-trash-alt", method: :delete  %></li>
          <% end %>
        </ul>
      </div>
      <h3>Add an ingredient</h3>

      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">

  <%#= link_to 'All Cocktails', root_path %>
</div>
