<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %>
  <%= link_to 'All Cocktails', cocktails_path %>
  <%= link_to 'destroy', cocktail_path(@cocktail), method: :delete  %>
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> <%= dose.ingredient.name %> <%= link_to 'destroy', dose_path(dose), method: :delete  %></li>

    <% end %>
  </ul>
</div>
